@import './../../src/scss/normalize';

.bubble {
  width: 100%;
  height: 100%;
  @include max-width-and-height(1vmax, 1vmax);
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: $average-layer;

  &--big-size {
    @include max-width-and-height(10vw, 10vw);
  }
}