@import "./single-card-preloader";

.single-card-holder {
  width: 100%;
  height: 100%;
  @include min-width-and-height(280px, 450px);
  @include max-width-and-height(60vw, 640px);
  background-color: $white;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  z-index: $top-layer;
}

.single-card {
  width: 100%;
  height: 100%;
  @include min-width-and-height(280px, 450px);
  @include max-width-and-height(100vw, 100vh);
  @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
  line-height: 1.5em;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 20px;

  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__header-line {
    width: 100%;
    height: 100%;
    min-height: 20px;
    position: relative;
  }

  &__header-line::after {
    width: 100%;
    height: 2px;
    content: '';
    background-color: rgba($black, 0.2);
    display: block;
    left: 0;
    bottom: -15px;
    position: absolute;
  }

  &__question {
  }

  &__answer {
    margin-top: 30px;
  }

  &__info {
    width: 100%;
    @include font-family-weight-size($jetbrains-font, $regular, 1.2rem);
    line-height: 1.4em;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
  }

  &__info::before {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    top: -15px;
    content: '';
    background-color: rgba($black, 0.2);
  }

  &__categories {
    text-align: end;
  }

  &__main-category-wrapper {
  }

  &__main-category {
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    display: block;
    cursor: pointer;
  }

  &__additional-categories-wrapper {
  }

  &__additional-categories {
    display: block;
    cursor: pointer;
  }

  &__metadata {
    text-align: start;
  }

  &__time {
    display: block;
    cursor: pointer;
  }

  &__type {
    display: block;
    cursor: pointer;
  }

  &__lang {
    display: block;
    cursor: pointer;
  }
}
