@import './one-field-preloader';

.form-holder {
  width: 100%;
  height: 100%;
  @include min-width-and-height(280px, 320px);
  @include max-width-and-height(100%, 640px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-card-form {
  width: 100%;
  height: 100%;
  @include min-width-and-height(280px, 320px);
  @include max-width-and-height(560px, 640px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: $top-layer;

  &__input-question {
    display: block;
    width: 100%;
    height: 10%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: $black;
    margin-bottom: 10px;
    padding: 10px 20px;
  }

  &__textarea-answer {
    display: block;
    width: 100%;
    height: 30%;
    @include min-width-and-height(280px, 120px);
    @include max-width-and-height(100%, 180px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 1em;
    color: $black;
    margin-bottom: 10px;
    padding: 20px 20px;
    resize: none;
  }

  &__select-holder {
    width: 100%;
    height: 10%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    margin-bottom: 10px;
    background: transparent;
  }

  &__select-field {
    width: 100%;
    height: 100%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: rgba($black, $half-opacity);
    border: none;
    border-radius: 25px;
    padding: 10px 20px;

    &--main-catefory {
    }

    &--additional-categories {
    }
  }

  &__select-item {
    width: 100%;
    height: 100%;
  }

  &__submit-button {
    display: block;
    width: 100%;
    height: 10%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: $black;
    cursor: pointer;
  }
}

::placeholder {
  @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
  line-height: 1em;
  color: $black;
  opacity: $half-opacity;
}