$white: #ffffff;
$black: #000000;

$smartphone-min-width: 320px;
$smartphone-max-width: 479px;
$tablet-min-width: 480px;
$tablet-max-width: 767px;
$netbook-min-Width: 768px;
$netbook-max-width: 1023px;
$notebook-min-width: 1024px;
$notebook-max-width: 1365px;

$bottom-layer: 0;
$background-layer: 1;
$average-layer: 5;
$top-layer: 10;
$highest-layer: 1000;

:root {
  font-family: monospace;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: black;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body-of-the-page {
  background-color: transparent;
  position: relative;
  z-index: $bottom-layer;
}