$white: #ffffff;
$black: #000000;

$smartphone-min-width: 320px;
$smartphone-max-width: 479px;
$tablet-min-width: 480px;
$tablet-max-width: 767px;
$netbook-min-Width: 768px;
$netbook-max-width: 1023px;
$notebook-min-width: 1024px;
$notebook-max-width: 1365px;

$bottom-layer: 0;
$background-layer: 1;
$average-layer: 5;
$top-layer: 10;
$highest-layer: 1000;

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -ms-box-sizing: $sizing;
  -o-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin linear-gradient($gradient...) {
  background-image: -webkit-linear-gradient($gradient);
  background-image: -moz-linear-gradient($gradient);
  background-image: -ms-linear-gradient($gradient);
  background-image: -o-linear-gradient($gradient);
  background-image: linear-gradient($gradient);
}

@mixin max-width-and-height($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin min-width-and-height($width, $height) {
  min-width: $width;
  min-height: $height;
}

:root {
  font-family: monospace;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: black;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

.body-of-the-page {
  background-color: transparent;
  position: relative;
  z-index: $bottom-layer;
}