$white: #ffffff;
$black: #000000;

$smartphone-min-width: 320px;
$smartphone-max-width: 479px;
$tablet-min-width: 480px;
$tablet-max-width: 767px;
$netbook-min-Width: 768px;
$netbook-max-width: 1023px;
$notebook-min-width: 1024px;
$notebook-max-width: 1365px;

$bottom-layer: 0;
$background-layer: 1;
$average-layer: 5;
$top-layer: 10;
$highest-layer: 1000;

$sharetechmono-font: 'Share Tech Mono', monospace;
$jetbrains-font: 'JetBrains Mono', monospace;
$default-font: 'Share Tech Mono', 'JetBrains Mono', monospace;
$regular: 400;
$bold: 700;

$half-opacity: 0.5;

$default-box-shadow: 0px 0px 10px 0px $black;

@mixin font-family-weight-size($family, $weight, $size) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  -moz-box-sizing: $sizing;
  -ms-box-sizing: $sizing;
  -o-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin linear-gradient($gradient...) {
  background-image: -webkit-linear-gradient($gradient);
  background-image: -moz-linear-gradient($gradient);
  background-image: -ms-linear-gradient($gradient);
  background-image: -o-linear-gradient($gradient);
  background-image: linear-gradient($gradient);
}

@mixin max-width-and-height($width, $height) {
  max-width: $width;
  max-height: $height;
}

@mixin min-width-and-height($width, $height) {
  min-width: $width;
  min-height: $height;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

:root {
  @include font-family-weight-size($default-font, $regular, 10px);
  line-height: 1.2rem;
  color: $black;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

.body-of-the-page {
  background-color: transparent;
  position: relative;
  z-index: $bottom-layer;
  overflow-x: hidden;
}