@import './normalize';
@import './../../blocks/add-card-form/add-card-form';
@import './../../blocks/single-card/single-card';
@import './../../blocks/go-to-button/go-to-button';
@import './../../blocks/submit-message/submit-message';

.container {
  width: 100%;
  height: 100vh;

  &--slide-cards {
    height: auto;
  }

  &--slide-filter {
    height: 100vh;
  }

  &--footer {
    height: 50vh;
    background-image: url(/src/img/background-picture-2.webp);
    background-repeat: repeat;
    background-size: auto;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: $background-layer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

	&--slide-intro {
    background-image: url(/src/img/background-picture-2.webp);
    background-repeat: repeat;
    background-size: auto;
	}

  &--slide-cards {
    height: auto;
    background-image: url(/src/img/background-picture-2.webp);
    background-repeat: repeat;
    background-size: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  &--slide-filter {
    flex-direction: column;
    background-color: #1b1c24;
  }

  &--slide-footer {
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1b1c24;
  }

  &--slide-footer {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__inner {
    width: 100%;
    height: 100%;
    z-index: $top-layer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    &--slide-intro {
      @include min-width-and-height(320px, 360px);
      @include max-width-and-height(60vw, 80vh);
      padding: 20px;
    }

    &--slide-cards {
      padding: 10px 0;
      @include min-width-and-height(320px, 470px);
    }

    &--slide-filter {
      @include min-width-and-height(320px, 360px);
      @include max-width-and-height(60vw, 80vh);
      padding: 20px;
    }

    &--slide-footer {
      @include min-width-and-height(280px, auto);
      @include max-width-and-height(60vw, 50vh);
      padding: 20px;
      justify-content: space-around
    }
  }

  &__title {
    @include font-family-weight-size($default-font, $regular, 1rem);
    line-height: 1em;
    color: $white;
    word-spacing: -10px;
    visibility: hidden;

    &--slide-intro {

    }
  }
}

.filter {

  &__holder {
    width: 100%;
    height: 100%;
    @include min-width-and-height(280px, 320px);
    @include max-width-and-height(100%, 640px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__search {
    display: block;
    width: 100%;
    height: 1%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: $black;
    background-color: $white;
    margin-bottom: 15px;
    padding: 10px 20px;
  }

  &__select-holder {
    width: 100%;
    height: 1%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    margin-bottom: 15px;
    background: transparent;
  }

  &__checkbox-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }

  &__single-input-wrapper {
    height: 20px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__type-of-cards {
    display: none;
    
    &--default {

    }

    &--users {

    }
  }

  &__single-label {
    padding-left: 30px;
  }

  &__type-of-cards + label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: $white;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid $black;
    vertical-align: middle;
  }

  &__type-of-cards:checked + label::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: $white;
    background-image: url(/src/img/know-it-all-checkbox-16-16.svg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    color: $white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid $white;
    vertical-align: middle;
  }

  &__date-wrapper {
    width: 100%;
    height: 1%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__date-input {
    width: 100%;
    height: 10%;
    @include min-width-and-height(220px, 40px);
    @include max-width-and-height(100%, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: rgba($black, $half-opacity);
    background-color: $white;
    padding: 10px 20px;
  }

  &__date-space {
    background-color: transparent;
    width: 20px;
  }

  &__reset-date-button {
    width: 10vmin;
    height: 10vmin;
    @include min-width-and-height(40px, 40px);
    @include max-width-and-height(60px, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: $black;
    background-color: $white;
    cursor: pointer;
  }

  &__reset-filter-button {
    display: block;
    width: 100%;
    height: 1%;
    @include min-width-and-height(280px, 40px);
    @include max-width-and-height(100%, 60px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
    color: $black;
    background-color: $white;
    cursor: pointer;
    margin-bottom: 15px;
  }

  &__cards-counter {
    width: 10%;
    height: 10%;
    @include min-width-and-height(200px, 20px);
    @include max-width-and-height(100%, 30px);
    border: none;
    border-radius: 25px;
    @include font-family-weight-size($jetbrains-font, $regular, 1.2rem);
    line-height: 100%;
    color: $black;
    background-color: $white;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  &__cards-counter-preloader{
    width: 100%;
    height: 100%;
    background-color: $white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.single-author {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__picture {
    margin-right: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__name {
    @include font-family-weight-size($jetbrains-font, $regular, 1.6rem);
    line-height: 100%;
  }

  &__links-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__link-item {
    text-decoration: none;
    margin-right: 10px;
    width: 20px;
  }

  &__icon {
    width: 1%;
    height: 1%;
    @include min-width-and-height(20px, 20px);
    cursor: pointer;
  }
}

.trash-box {
  display: none;
  visibility: hidden;
  overflow: hidden;
}

.empty-card-holder {
  width: 100%;
  height: 100%;
  @include min-width-and-height(280px, 450px);
  @include max-width-and-height(60vw, 640px);
  background-color: transparent;
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 10px 20px;
  z-index: $top-layer;
}