@import './normalize';
@import './../../blocks/add-card-form/add-card-form';
@import './../../blocks/bubble/bubble';

.container {
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: $background-layer;
  display: flex;
  justify-content: center;
  align-items: center;

	&--slide-intro {
    @include linear-gradient(
      0deg, 
      rgba(0,18,255,1) 0%, 
      rgba(0,255,239,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	}

  &__inner {
    width: 100%;
    height: 100%;
    @include min-width-and-height(320px, 320px);
    @include max-width-and-height(60vw, 60vh);
    padding: 0 20px;
    z-index: $top-layer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--slide-intro {

    }
  }

  &__title {
    @include font-family-weight-size($default-font, $regular, 4rem);
    line-height: 1em;
    color: $white;
    word-spacing: -10px;

    &--slide-intro {

    }
  }

  &__form-holder {
    width: 100%;
    height: 100%;
    @include min-width-and-height(280px, 320px);
    @include max-width-and-height(100%, 640px);
    display: flex;
    justify-content: center;
    align-items: center;
  
    &--slide-intro {
        
    }
  }  
}